.yandex_map {
margin-top: 50px;

    .map_title {
        color: var(--text-color, #414141);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 30px;
    }
}