.text-menu {
    .menu2-content {}

    .menu-list {
        margin-top: 30px;
        display: flex;
        color: #969696;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}